<div ng-repeat="renga in rengas" class="">
  <a href="#!/rengas/{{$index}}"><h3>{{renga.title}}</h3></a>
  <div ng-repeat="stanza in renga.stanzas" class="">
    {{stanza.line_one}}<br>
    {{stanza.line_two}}<br>
    {{stanza.line_three}}
  </div>
</div>

<div class="">
  <form class="" ng-submit="addRenga()">
    <h3>Add Renga</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Name" ng-model="title">
    </div>
    <button type="submit" class="btn btn-primary">Start</button>
  </form>
</div>
