<div class="">
  <h3>{{renga.title}}</h3>
  <div ng-repeat="stanza in renga.stanzas" class="">
    {{stanza.line_one}}<br>
    {{stanza.line_two}}<br>
    {{stanza.line_three}}
  </div>
</div>

<div class="">
  <form class="" ng-submit="addStanza()">
    <h3>First Stanza</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="line1" ng-model="line_one">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="line1" ng-model="line_two">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="line1" ng-model="line_three">
    </div>
    <button type="submit" class="btn btn-primary">Add First Stanza</button>
  </form>
</div>
